.titulo{
	text-align: center;
  font-style:italic !important;
  font-weight:bold !important;
  font-size:2em !important;
  color:#606265 !important;
  font-family:'Helvetica','Verdana','Monaco',sans-serif !important;
}

.titulo-fin{
  text-align: center;
  font-style:italic !important;
  font-weight:bold !important;
  padding-top: 70px;
  font-size:8em !important;
  color:#606265 !important;
  font-family:'Helvetica','Verdana','Monaco',sans-serif !important;
}

.puntaje{
  text-align: center;
  font-style:italic !important;
  font-weight:bold !important;
  padding-top: 70px;
  font-size:8em !important;
  color:#606265 !important;
  font-family:'Helvetica','Verdana','Monaco',sans-serif !important;
}


.tam{
  font-size: 40px !important;
}

.titulo-hora{
	text-align: center;
  font-style:italic !important;
  font-weight:bold !important;
  font-size:80px !important;
  color:#606265 !important;
  font-family:'Helvetica','Verdana','Monaco',sans-serif !important;
}

.margen{
	padding-top: 50px;

}

.margenboton{
	padding-top: 50px;
	padding-bottom: 50px;

}


.imagen{
	padding-top: 50px;
	width: 300px;
	height: 600px;
}

.opcion{
  font-size: 40px;
  width: 50%;
  height: 350px;
  background-color: #a2f5b1;
}

.bloque-pregunta{
    padding-bottom: 100px;
}

.pregunta{
  font-size: 80px !important;

}

.color-barra{
  background-color: #28a745 !important;
}

.barra{
  height: 4rem !important;
}

.boton-pop{
  width: 100%;
  height: 120px;
  font-size: 300%;
}


  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #666;
    border-radius: 10px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
    text-align: middle;
    text-decoration: none;
    white-space: nowrap;
  }

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button:hover {
      background-color: #737373;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    .button:active {
      background-color: #595959;
    }

    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    .button.icon {
      padding-left: 1.35em;
    }

      input[type="submit"].icon:before,
      input[type="reset"].icon:before,
      input[type="button"].icon:before,
      .button.icon:before {
        margin-right: 0.5em;
      }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    .button.fit {
      width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    .button.small {
      font-size: 0.8em;
      height: 2.7em;
      line-height: 2.7em;
    }

    input[type="submit"].large,
    input[type="reset"].large,
    input[type="button"].large,
    .button.large {
      font-size: 1.25em;
      height: 2.7em;
      line-height: 2.7em;
    }

    input[type="submit"].alt,
    input[type="reset"].alt,
    input[type="button"].alt,
    .button.alt {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px #e5e5e5;
      color: #777;
    }

      input[type="submit"].alt:hover,
      input[type="reset"].alt:hover,
      input[type="button"].alt:hover,
      .button.alt:hover {
        background-color: #f8f8f8;
      }

      input[type="submit"].alt:active,
      input[type="reset"].alt:active,
      input[type="button"].alt:active,
      .button.alt:active {
        background-color: #f0f0f0;
      }

      input[type="submit"].alt.icon:before,
      input[type="reset"].alt.icon:before,
      input[type="button"].alt.icon:before,
      .button.alt.icon:before {
        color: #999;
      }

    input[type="submit"].primary,
    input[type="reset"].primary,
    input[type="button"].primary,
    .button.primary {
      background-color: #4CAF50;
      color: #ffffff !important;
      font-size: 5em;
      
    }

      input[type="submit"].primary:hover,
      input[type="reset"].primary:hover,
      input[type="button"].primary:hover,
      .button.primary:hover {
        background-color: #427A42;
      }

      input[type="submit"].primary:active,
      input[type="reset"].primary:active,
      input[type="button"].primary:active,
      .button.primary:active {
        background-color: #427A42;
      }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    .button.disabled,
    .button:disabled {
      background-color: #777 !important;
      box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
      color: #f5f5f5 !important;
      cursor: default;
      opacity: 0.25;
    }

